client/Service References/ServiceRef/Console_link1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Console_link" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Console_link" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Transfer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EncodingMethod" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transfer" nillable="true" type="tns:Transfer" />
</xs:schema>